.app{
    background-color: grey;
    width: 100vw;
    height: 100vh;
    padding: 2%;
}

.headerComponent{
    background-color: green;
    height: 10%;
    width: 100%;
}

.navComponent{
    background-color: blue;
    height: 60%;
    width: 20%;
}