h1{
    color: red;
    font-size: 20;
    text-align: center;
}
.color1{
    background-color: red;
    width: 20px;
    height: 20px;
}
.color2{
    background-color: black;
    width: 20px;
    height: 20px;
}
div{
    display: flex;
    justify-content: center;
}

