<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Default</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        #main{
           width: 100vw;
           background-color: black;
           color: yellow;
        }
        #com{
            height: 20vh;
        }
        p{
            font-size: large;
        }
        #description{
            height: 80vh;
        }
    </style>
</head>
<body class="container text-center" id="main">
    <div class="container" >
        {% with messages = get_flashed_messages() %}    <!-- declare a variable called messages -->
    {% if messages %}               <!-- check if there are any messages -->
        {% for message in messages %}   <!-- loop through the messages -->
            <p>{{message}}</p>          <!-- display each message in a paragraph tag -->
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="row">
<div class="col">
    <a href="/" class="btn btn-primary btn-lg btn-block">Back</a>
</div>
</div>
<form action="/Submit/store" method="post" class="container text-center">
                <div class="row">
                    <div class="col">
                        <div class="form-group m-3">
                            <label for="bname">Business Name:</label>
                            <input class="form-control" name= "bname" type="text" placeholder="First Name">
                        </div>
                        <div class="form-group m-3">
                            <label for="cname">Contact Name:</label>
                            <input class="form-control" name= "cname" type="text" placeholder="Last Name">
                        </div>
                        <div class="form-group m-3">
                            <label for="phone_number">Phone Number:</label>
                            <input class="form-control" name= "phone_number" type="text" placeholder="(xxx)-xxx-xxxx">
                        </div>
                        <div class="form-group m-3">
                            <label for="email">Email:</label>
                            <input class="form-control" name= "email" type="text" placeholder="example@mail.com">
                        </div>
                        <div class="form-group m-3">
                            <label for="address">Address:</label>
                            <input class="form-control" name= "address" type="text" placeholder="123 abc avenue">
                        </div>
                        <div class="form-group m-3">
                            <label for="zip_code">Zipe-Code:</label>
                            <input class="form-control" name= "zip_code" type="text" placeholder="12345">
                        </div>
                        <p>NOTE: All listing will remain active for 30 days and then will need to be re-submitted if still applicable</p>
                    </div>
                    <div class="col">
                        <div class="form-group m-3">
                            <label for="content">Description of Merchandise or Services offered:</label>
                            <textarea rows = "22" cols = "60" name = "content">
                             </textarea>
                        </div>
                        <input type= "submit" class="btn-primary btn" value="Submit">
                    </div>
                    
                </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>